.homepageheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Pecita;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.175em;
    text-align: center;
  
  }
  
  .homepageheader__logo {
    font-family: Pecita;
    font-weight: 400;
    font-family: Pecita;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.175em;
    text-align: center;
  
  
  
  }
  
  .homepageheader__nav {
    display: flex;
  }
  
  .homepageheader__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .homepageheader__nav-item {
    margin-left: 20px;
  }
  
  .homepageheader__nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .homepageheader__nav-link:hover {
    color: #666;
  }
